<ion-header [translucent]="true">
  <ion-toolbar color = 'dark'>
    <ion-title>
      Corona Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color= 'light'>
    <ion-label>Bundesland wählen:</ion-label>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let state of states" [routerLinkActive]="['./', state.id]">
      <ion-avatar slot="start">
        <ion-img [src]="state.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label> {{ state.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
