<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Bundesland</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col><ion-img [src]="loadedstate.imageUrl"></ion-img></ion-col>
    <ion-col>{{ loadedstate.name }}</ion-col>
    <ion-col>{{loadedstate.stateLink }}</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
